@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>
    <title>.net platform</title>
</head>
<body>
    <h1>Enter your details  for login </h1>


</body>

</html>